// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #82B1FF
$secondary : #64FFDA
$accent    : #EA80FC

$dark      : #1E293B
$dark-page : #0F172A

$positive  : #69F0AE
$negative  : #FF5252
$info      : #40C4FF
$warning   : #FFFF00
